@import '../../../constants/colors';
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid $color-gray-100;
    border-radius: 20px;
    padding: 14px;
    [class='ant-input'] {
        background-color: transparent;
        outline: none;
        border: none;
        height: 20px;
        margin-left: 14px;
        font-weight: 600;

        &:focus {
            outline: none;
            border: none;
        }
    }
}
