@import '../../constants/colors';

.contentContainer {
    flex: 1;
    padding: 32px;
    width: 100%;
    // background-color: $color-blue-4;
}
.content {
    display: flex;
    flex-direction: column;
}

.resultHeader {
    font-size: 32px;
}
.goBack {
    width: 166px;
    cursor: pointer;
}
